@font-face {
  font-family: "MaisonNeue";
  src: url("./fonts/MaisonNeueMonoRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h5 {
  margin: auto 5rem;
}
button {
  border-radius: 2px;
  background-color: #3e80f1; /* Green */
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.25s ease;
}
#download {
  transform: scale(1.5);
  transition: transform 0.25s ease;
  margin-left: 1rem;
}

#download:hover {
  transform: scale(2);
  transition: transform 0.25s ease;
  cursor: pointer;
}

button:hover {
  background-color: #75a3f2; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  cursor: pointer;
}

body {
  overflow: hidden;
  font-family: "MaisonNeue";
}

#mandelbrotCanvas {
  margin-top: 1rem;
}
.visual-container {
  height: 50vh;
  width: 70vw;
}

.main-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#triangles,
#carpet,
#tree,
#koch,
#mandelbrot {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  width: 20vw;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  cursor: pointer;
}

.treeSliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#depth {
  margin: 0;
  font-family: monospace;
  font-size: 14px;
}

.depthTree {
  margin: 0 !important;
}

#displayTitle {
  margin: 1rem 0;
}
#displayDescription {
  font-size: 10px;
  text-align: center;
  width: 50%;
}
